.w-3{
  width: 25%;
}
.text{
    color: white;
}
.header{
    background-color: #3f1e53;
}
.new{
    background-color: #3f1e53;
}
.manage{
    background-color: #3f1e53;
}
.formmm{
    box-shadow: 5px 10px 10px 5px;
}